$base-font-color: #39414B;
$active-font-color: #ffffff;

$layout-body-backgroundColor: #ffffff;
$layout-card-backgroundColor: #ffffff;
$layout-borderRadius-medium: 12px;
$layout-borderRadius-large: 18px;

$layout-borderColor: #cfcfe4;

$brand-color: #5fbf77;

$default-transition-duration: 0.3s;